# Dependencies & Portable Binaries
node_modules/
browsers/
node.exe
cloudflared.exe
*.zip

# Runtime & User Data
logs/
exports/
session/
data/history.json

# Temporary & System files
~$*
.DS_Store
Thumbs.db
.vscode/
.idea/
